/* =======================
   NAVBAR
======================= */

.navbar{
background:#1a73e8;
padding:12px 40px;
margin: 0;
}

.navbar ul{
display:flex;
gap:30px;
list-style:none;
margin:0;
padding:0;
}

.navbar li{
font-weight:bold;
cursor:pointer;
color: white ;
}

.navbar li a {
color: white ;
text-decoration: none;
}

.navbar li:hover{
opacity:0.8;
}