.navbar{
background:#1a73e8;
padding:12px 40px;
}

.navbar ul{
display:flex;
gap:30px;
list-style:none;
margin:0;
padding:0;
}

.navbar li{
color:white;
font-weight:bold;
cursor:pointer;
}

.navbar li:hover{
opacity:0.8;
}


/* navbar links */

.navbar a{
color:white;
text-decoration:none;
}

/* hover effect */

.navbar li:hover{
opacity:0.8;
cursor:pointer;
}

/* active page */

.navbar .active{
border-bottom:3px solid white;
padding-bottom:4px;
} 